.smallCard {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.imageView {
  width: 40%;
  height: 20vh;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 100%;
  height: auto;
  gap: 8px;
  margin-left: 1%;
}

.titleRow {
  margin-left: 1%;
  display: flex;
  width: 99%;
  text-decoration: none;
}

.titleView {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}

.line {
  margin-top: 0.5%;
  margin-bottom: 1%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.title {
  color: #000;
  font-size: calc(0.9rem + 0.3vw);
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  text-align: justify;
  height: auto;
  width: 100%;
  margin-left: 5px;
}

.title:hover {
  color: #0047ab;
}

.content {
  color: #000;
  font-size: calc(0.7rem + 0.3vw);
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  width: 97%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: justify;
  margin-left: 1%;
}

.dateRow {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: end;
  width: 100%;
  height: auto;
}

.createdAt {
  color: #000;
  font-size: calc(0.8rem + 0.1vw);
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  width: 50%;
  height: auto;
  padding-left: 1%;
}

.updatedAt {
  color: #000;
  font-size: 0.9rem;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  width: 50%;
  height: auto;
  text-align: right;
  padding-right: 2%;
}

@media screen and (max-width: 1000px) {
  .smallCard {
    width: 100%;
    margin-left: 0;
  }

  .title {
    font-size: calc(0.9rem + 0.6vw);
  }

  .content {
    font-size: calc(0.8rem + 0.4vw);
  }

  .createdAt {
    font-size: calc(0.8rem + 0.2vw);
  }

  .updatedAt {
    font-size: calc(0.8rem + 0.2vw);
  }
}

@media screen and (max-width: 750px) {
  .imageView {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .imageView {
    width: 40%;
  }

  .line {
    margin-top: 1%;
  }
}


@media screen and (max-width: 500px) {
  .content {
    display: none;
  }

  .column {
    width: 100%;
    gap: 0.5rem;
    justify-content: normal;
    padding: 0;
  }

  .imageView {
    min-width: 30%;
  }

  .title {
    font-size: calc(1rem + 0.5vw);
  }

  .createdAt {
    font-size: calc(0.9rem + 0.1vw);
  }

  .updatedAt {
    font-size: calc(0.9rem + 0.1vw);
  }
}

@media screen and (max-width: 400px) {
  .imageView {
    min-width: 45%;
  }

  .title {
    font-size: calc(0.8rem + 0.5vw);
  }

  .createdAt {
    font-size: calc(0.8rem + 0.1vw);
  }

  .updatedAt {
    font-size: calc(0.8rem + 0.1vw);
  }

  .line {
    margin-top: 2%;
  }
}
