.filtersRow {
  display: flex;
}

.filterInput {
  width: 280px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.buttonBlue {
  background-color: #0047ab !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.5rem;
  text-transform: none !important;
  font-size: 1rem !important;
}


@media screen and (max-width: 600px) {
  .filtersRow {
    flex-direction: column;
    gap: 0.5rem;
  }

  .filterInput {
    width: 100%;
  }

  .buttonsContainer {
    gap: 0.5rem;
  }

  .buttonBlue {
    width: 50%;
  }
}

@media screen and (max-width: 280px) {
  .buttonBlue {
    font-size: 1rem !important;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  .buttonBlue {
    width: 100%;
  }
}