.filtersRow {
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 1%;
  gap: 8px;
}

.filterInput {
  width: 15vw;
}

.buttonBlue {
  background-color: #0047ab !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.5rem;
  text-transform: none !important;
  font-size: 1rem !important;
}
