.timeLine {
  position: relative;
  margin-left: 1%;
  width: 3%;
  display: flex;
  flex-direction: column;
}

.line {
  position: relative;
  width: 0px;
  height: 125%;
  outline: solid 1px #0047ab;
  flex-shrink: 0;
}

.smallLine {
  position: relative;
  width: 0px;
  height: 100%;
  outline: solid 1px #0047ab;
  flex-shrink: 0;
}

.ellipse {
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 26px;
  height: 20px;
  overflow: visible;
}

.icon {
  width: 100%;
  height: 100%;
  overflow: visible;
}

@media screen and (max-width: 1000px) {
  .timeLine {
    display: none;
  }
}
