.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFound img {
  height: 70vh;
  width: 50vw;
}

.notFound button {
  padding: 12px 15px;
  background-color: #0047ab;
  border: none;
  border-radius: 12px;
  color: #FFF;
}
