.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  overflow-y: auto;
  overflow-x: hidden;
}

.background {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #faf9f9;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.body {
  position: relative;
  left: 15%;
  width: 70%;
  margin: 0 0 128px;
  overflow: hidden;
}

.filtersRow {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  gap: 1rem;
}

.titleView {
  display: flex;
  margin-top: 2%;
  align-items: center;
}

.trendingsIcon {
  position: relative;
  width: 36px;
  height: 44px;
  background-image: url('/src/ui/web/assets/ratings.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pagination {
  margin-top: 2%;
  margin-bottom: 2%;
}

.trendingsTitleView {
  margin-top: 2%;
}

.trendingArticleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 1%;
}

.trendingArticleLeftColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 70vh;
}

.trendingArticleRightColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  height: auto;
  float: right;
}

@media screen and (max-width: 1500px) {
  .body {
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 1300px) {
  .body {
    left: 3%;
    width: 94%;
  }
}

@media screen and (max-width: 1000px) {
  .trendingArticleLeftColumn {
    width: 100%;
  }

  .trendingArticleRightColumn {
    display: none;
  }

  .body {
    left: 1%;
    width: 98%;
  }
}


@media screen and (max-width: 280px) {
  .trendingsIcon {
    display: none;
  }
}
