.label {
  color: #0047AB;
  font-size: clamp(24px, 2vw, 32px);
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  position: relative;
  width: fit-content;
  height: auto;
  flex-direction: column;
  white-space: nowrap;
}

.titleView {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.divider {
  flex-shrink: 0;
  width: 100%;
}

@media screen and (max-width: 280px) {
  .label {
    left: 0;
  }
}
