.propositionNavigationBar {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 40px;
  outline-offset: -1px;
  border-bottom: 2px solid #EFEFEF;
}

.navigationBarRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 15%;
  right: 15%;
  top: 50%;
  transform: translate(0%, -50%);
  gap: 1.5%;
}

.label {
  font-size: calc(0.5rem + 0.3vw);
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  height: auto;
  width: auto;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .navigationBarRow {
    left: 10%;
    right: 10%;
  }
}

@media screen and (max-width: 1300px) {
  .navigationBarRow {
    left: 3%;
    right: 3%;
  }
}

@media screen and (max-width: 1000px) {
  .navigationBarRow {
    left: 2%;
    right: 2%;
  }

  .propositionNavigationBar {
    height: 50px;
  }
}

@media screen and (max-width: 420px) {
  .navigationBarRow {
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px;
  }

  .propositionNavigationBar {
    height: 80px;
  }
}

@media screen and (max-width: 300px) {
  .propositionNavigationBar {
    height: 120px;
  }
}
