.container {
  display: flex;
  width: 80%;
  height: auto;
  border-radius: 6px;
  background-color: #fff;
  float: right;
  margin-bottom: 5%;
}

.image {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  background-image: url('/assets/rectangular-announcement.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
