.newsletterCard {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0047ab;
  border-bottom: 10px solid #ffc72c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
  position: relative;
}

.newsletterCard h2 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}

.logo {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 40px;
  height: auto;
}

@media screen and (max-width: 900px) {
  .newsletterCard h2 {
    font-size: 20px;
    margin: 0;
    color: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  .newsletterCard h2 {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
  }
}
