.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4%;
  gap: 16px;
  text-decoration: none;
}

.borderTop {
  border-top: 1px solid #eee;
}

.trendingNumber {
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  width: 8px;
}

.titleView {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.titleViewColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  text-align: justify;
  letter-spacing: -0.017em;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
}

.title:hover {
  color: #0047ab;
}

.titleContainerRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  color: #000;
  font-size: calc(0.7rem + 0.3vw);
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  width: 97%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-align: justify;
}

.line {
  margin-top: 2%;
  margin-bottom: 1%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.infoIcon {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  background-image: url('/src/ui/web/assets/info.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.time {
  color: #898989;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  letter-spacing: -0.017em;
  width: 50px;
  flex-direction: column;
}
